body, html {
 color: white;
 margin: 0;
 padding: 0;
 overflow-y: hidden;
}

h1 {
    position: absolute;
    left: 800px;
    top: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 60px;
    text-shadow: 5px 5px #000000;
}

#p1 {
 position: absolute;
 left: 50px;
 top: 550px;
 font-family: "Arial Black", Gadget, sans-serif;
 font-size: 30px;
 text-shadow: 3px 3px #000000;
}

#p2 {
 position: absolute;
 left: 300px;
 top: 550px;
 font-family: "Arial Black", Gadget, sans-serif;
 font-size: 30px;
 text-shadow: 3px 3px #000000;
}

video {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 min-width: 100%;
 min-height: 100%;
 z-index: -100;
}
